* {
            box-sizing: border-box;
            margin: 0;
            padding: 0;
        }

        body {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 100vh;
            background-color: #f0f0f0;
        }
        .glow-button {
            margin-top: 20px;
            padding: 15px 30px;
            font-size: 18px;
            font-weight: bold;
            color: white;
            background: black;
            border: none;
            border-radius: 10px;
            cursor: pointer;
            box-shadow: 0 0 5px green;
            transition: all 0.3s ease-in-out;
        }

        .glow-button:hover {
            box-shadow: 0 0 20px green;
            transform: scale(1.1);
        }